<nav class="navbar navbar-default">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand">Quizmania</a>
    </div>
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav navbar-right">
        <li>
          <a>You are logged-in as Examiner</a>
        </li>
        <button type="button" class="btn btn-default navbar-btn" routerLink="/login">Logout</button>
      </ul>
    </div>
  </div>
</nav>

<div class="container">
  <div class="row">
    <table class="table">
      <thead class="thead-inverse">
        <tr>
          <th class="text-center">Quiz ID</th>
          <th class="text-center">Title</th>
          <th class="text-center">Time Limit</th>
          <th class="text-center">Category</th>
          <th class="text-center">Status</th>
          <th class="text-center">Action</th>
        </tr>
      </thead>
      <tbody>
        <!-- <div *ngFor="let b of quizzes">
                            {{b.quizID}}
                          </div> -->
        <tr *ngFor="let q of quizzes">
          <td class="text-center" style="width: 15px;">{{q.quizID}}</td>
          <td class="text-center" style="width: 200px;">{{q.title}}</td>
          <td class="text-center" style="width: 35px;">{{q.timeLimit}} minutes</td>
          <td class="text-center" style="width: 50px;">{{q.category}}</td>
          <td class="text-center" style="width: 100px;">{{q.status}}</td>
          <td class="text-center" style="width: 150px;">
            <div *ngIf="q.status=='new' || q.status=='draft'">
              <button type="button" class="btn btn-default navbar-btn" routerLink="/quizmania/{{userId}}/editquiz/{{q.quizID}}/addquestions">Add Questions</button>
            </div>
            <div *ngIf="q.status=='Approved' || q.status=='approved'">
              <button type="button" class="btn btn-default" routerLink="/quizmania/{{userId}}/viewquiz/{{q.quizID}}">Review
              </button>
            </div>
            <div *ngIf="q.status=='Pending' || q.status=='pending' || q.status=='Rejected' || q.status=='Published' || q.status=='rejected' || q.status=='published'">
              <button type="button" class="btn btn-default" routerLink="/quizmania/{{userId}}/viewquiz/{{q.quizID}}">Review
              </button>
            </div>
          </td>

        </tr>
      </tbody>
    </table>
  </div>
  <div>
    <button type="button" class="actionButton" routerLink="/examiner/{{userId}}/createquiz">Create a Quiz!</button>
    &nbsp;
    <button type="button" class="actionButton" (click)="goBack();">Back to My Dashboard
    </button>

  </div>

</div>
