/* You can add global styles to this file, and also import other style files */
body {
	background-image: url('bk1.jpg');
	background-repeat: no-repeat;
	background-position: center center;
	background-attachment: fixed;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
}

.actionButton {
	transition-duration: 0.4s;
	padding: 10px;
	border-radius: 12px;
	border: 2px solid black;
	margin-top: 2px;
	margin-bottom: 2px;
}

button:hover {
	/**animation-delay: 0.5s;*/
	background-color: white;
	border: 4px solid #4a0868;
	size: 125%;
	color: black;
	font-weight: bold;
}

table td {
	border-left: 2px solid #000;
	text-align: left;
	padding: 5px;
	font-weight: bold;
	vertical-align: middle;
}

table td:last-child {
	border-right: 2px solid #000;
	/**background-color: graytext; */
}

table tr:last-child {
	border-bottom: 2px solid #000;
}

tr:nth-child(even) {
	background-color: #888e99;
	color: black;
	vertical-align: middle;
}

tr:nth-child(odd) {
	background-color: white;
	color: black;
	vertical-align: middle;
}

th {
	background-color: graytext;
	color: white;
	/**border-left: 2px solid white;*/
}

tr:hover {
	background-color: #4a0868;
	color: white;
}

table {
	table-layout: auto;
	background-color: #ffffff;
	padding: 10px;
	margin: 20px;
	white-space: nowrap;
}

.title {
	color: white;
	width: 40em;
	background-color: #4a0868;
	padding: 10px;
	border-radius: 5px;
	border-bottom: 5px solid white;
	font-weight: bold;
	font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
	font-size: x-large;
}

.subtitle {
	font-weight: bold;
	font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
	font-size: large;
	color: purple;
	width: 35em;
	border-bottom: 2px solid #4a0868;
	background-color: white;
	border-radius: 10px;
	padding: 2px;
}

.whiteBG {
	background-color: white;
	padding: 5px;
	margin: 20px;
	width: 65em;
}

.displayResponse {
  width: 25em;
  padding: 1.1em;
}

.question {
  font-weight: bold;
  color: white;
  background-color: gray;
  border-style: none none double none;
  border-bottom: 5px solid #4a0868;
  padding: 5px;
  
  margin-bottom: 10px;
}

.choice {
  font-weight: bold;
  color: #4a0868;
}

hr {
  color: black;
  size: 10px;
  height: 2px;
  width: 25px;
}

.ng-valid[required],
.ng-valid.required,
.ng-pristine {
  border-bottom: 5px solid green;
}

.ng-invalid:not(form) {
  border-bottom: 5px solid maroon;
}
