<nav class="navbar navbar-default">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand">Quizmania</a>
    </div>
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav navbar-right">
        <li>
          <a>You are logged-in as Examinee</a>
        </li>
        <button type="button" class="btn btn-default navbar-btn" routerLink="/login">Logout</button>
      </ul>
    </div>
  </div>
</nav>

<div class="container">
  <div class="title">{{quiz.title}}</div>
  <div class="subtitle">Subject: {{quiz.category}}</div>
  <div class="subtitle">Time Limit: {{quiz.timeLimit}} minutes</div>
  <hr>
  <div *ngIf="!submitted">

    <form [formGroup]="quizForm" (ngSubmit)="onSubmit()">
      <div formArrayName="responses">
        <div class="whiteBG" *ngFor="let post of questions; let response of responses.controls; let i=index" [formGroupName]="i">
          <p class="question">{{post.number}}. {{post.body}}</p>
          <div *ngIf="post.type == 1">
            <!-- begin of mc question display -->
            <!-- multiple-choice question w/ four choices-->

            <input class="newLine" type="radio" value="a" formControlName="resp" required>
            <label class="choice" for="a">{{post.choicea}}</label>
            <br>
            <input class="newLine" type="radio" value="b" formControlName="resp" required>
            <label class="choice" for="b">{{post.choiceb}}</label>
            <br>
            <input class="newLine" type="radio" value="c" formControlName="resp" required>
            <label class="choice" for="c">{{post.choicec}}</label>
            <br>
            <input class="newLine" type="radio" value="d" formControlName="resp" required>
            <label class="choice" for="d">{{post.choiced}}</label>
            <br>

          </div>
          <!-- end of mc question display -->

          <div *ngIf="post.type == 2">
            <!-- begin of essay question display -->
            <!-- essay question -->
            <div class="row">
              <div class="col-xs-3 choice">
                Response:
                <input type="text" class="form-control displayResponse" id="answer" formControlName="resp" required>
              </div>
            </div>
          </div>
          <!-- end of essay question display -->
          <br>

        </div>
        <!-- end of for-loop for displaying quiz -->
        <div>
          <button type='button' class='btn btn-success' [disabled]="quizForm.pristine || quizForm.invalid" (click)='onSubmit()'>Submit Attempt</button>
          <button type="button" class="btn btn-danger" (click)="goBack(1);">Cancel Attempt
          </button>
        </div>
      </div>
    </form>
  </div>
  <div *ngIf="submitted">
    <p class="alert alert-success">
      <strong>Congratulations, your attempt has been submitted for grading!</strong>
    </p>
    <br>
    <button type='button' class='btn btn-default' (click)='goBack(1);'>Back to Quiz Catalog</button>
    <button type="button" class="btn btn-default" (click)="goBack(2);">My Dashboard
    </button>
    <!-- 
		<button type="button" class="btn btn-default" (click)="goBack(3);">My
			Scores</button>
			 -->
  </div>
</div>
<!-- end of div container -->
