<nav class="navbar navbar-default">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand">Quizmania</a>
    </div>
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">


      <ul class="nav navbar-nav navbar-right">
        <li>
          <a>You are logged-in as ADMIN</a>
        </li>
        <button type="button" class="btn btn-default navbar-btn" routerLink="/login">Logout</button>
      </ul>
    </div>
  </div>
</nav>

<div class="container">
  <div class="title">{{quiz.title}}</div><hr>
  <div class="subtitle">Subject: {{quiz.category}}</div>
  <div class="subtitle">Time Limit: {{quiz.time_limit}}</div>
  <hr><br>
  <div *ngFor="let post of questions">

    <p class="question">{{post.number}}. {{post.body}} </p>
    <!-- for testing... 
    <p>type: {{post.type}}</p>
    -->
    <div *ngIf="post.type == 1"> <!-- multiple-choice question w/ four choices-->
      <div *ngIf="post.correct_answer==='a'; else elseA">
        <input class="newLine" type="radio" value="a" name="{{post.number}}" checked="checked" disabled>
        <label class="choice" for="a">{{post.choicea}}</label>
      </div>
      <ng-template #elseA>
        <input class="newLine" type="radio" value="a" name="{{post.number}}" disabled>
        <label class="choice" for="a">{{post.choicea}}</label>
      </ng-template>
      <div *ngIf="post.correct_answer==='b'; else elseB">
        <input class="newLine" type="radio" value="b" name="{{post.number}}" checked="checked" disabled>
        <label class="choice" for="b">{{post.choiceb}}</label>
      </div>
      <ng-template #elseB>
        <input class="newLine" type="radio" value="b" name="{{post.number}}" disabled>
        <label class="choice" for="b">{{post.choiceb}}</label>
      </ng-template>
      <div *ngIf="post.correct_answer==='a'"></div>

      <div *ngIf="post.correct_answer==='c'; else elseC">
        <input class="newLine" type="radio" value="c" name="{{post.number}}" checked="checked" disabled>
        <label class="choice" for="c">{{post.choicec}}</label>
      </div>
      <ng-template #elseC>
        <input class="newLine" type="radio" value="c" name="{{post.number}}" disabled>
        <label class="choice" for="c">{{post.choicec}}</label>
      </ng-template>
      <div *ngIf="post.correct_answer==='a' || post.correct_answer==='b'"></div>

      <div *ngIf="post.correct_answer==='d'; else elseD">
        <input class="newLine" type="radio" value="d" name="{{post.number}}" checked="checked" disabled>
        <label class="choice" for="d">{{post.choiced}}</label>
      </div>
      <ng-template #elseD>
        <input class="newLine" type="radio" value="d" name="{{post.number}}" disabled>
        <label class="choice" for="d">{{post.choiced}}</label>
      </ng-template>
      <div *ngIf="post.correct_answer==='a' || post.correct_answer==='b' || post.correct_answer==='c'"></div>

      <br>
    </div>
    <div *ngIf="post.type == 2"> <!-- essay question --> 
      <div class="row">
        <div class="col-xs-3 choice">
          Correct Answer
          <input type="text" class="form-control displayResponse" id="answer" value="{{post.correct_answer}}" name="answer" disabled>
        </div>
      </div>
    </div>
    <br>

  </div>
</div>

<div>
  <button type='button' class="btn btn-success" (click)='approve();'>Approve Quiz
  </button>

  <button type='button' class='btn btn-danger' (click)='reject();'>Reject Quiz
  </button>
</div>

<br>

<div>
  <button type='button' class='btn btn-default' (click)='goBack();'>Back to My Dashboard
  </button>
</div>
