.displayResponse {
  width: 25em;
  padding: 1.1em;
}

.question {
  font-weight: bold;
  color: white;
  width: 60em;
  background-color: graytext;
  border: 2px solid black;
  padding: 5px;
  border-radius: 12px;
}

.choice {
  font-weight: bold;
  color: graytext;
}

hr {
  color: black;
  size: 10px;
  height: 2px;
  width: 25px;
}

.ng-valid[required],
.ng-valid.required,
.ng-pristine {
  border-bottom: 5px solid green;
}

.ng-invalid:not(form) {
  border-bottom: 5px solid maroon;
}
